<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="master" connectionString="Server=.\sqlexpress;Initial Catalog=master;Integrated Security=true;"/>
	<!-- adicionas as strings de conexão dos bancos para backup -->
  </connectionStrings>
  
  <appSettings>
    <add key="Backup.local" value="C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\Backup" />
    <add key="Backup.emails" value="seuemail@gmail.com" />
    <add key="Aws.accessKey" value="sua-chave"/>
    <add key="Aws.secretKey" value="sua-chave-secreta"/>
    <add key="Aws.bucketName" value="nome-bucket-upload"/>
  </appSettings>
    
</configuration>