<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="master" connectionString="Server=localhost;Initial Catalog=master;Integrated Security=true;"/>
	  <!-- adicionas as strings de conexão dos bancos para backup -->
  </connectionStrings>
  
  <appSettings>
    <add key="Backup.local" value="PATH TO SQL SERVER SERVICE ACCESS" />
    <add key="Backup.emails" value="your@email.com" />
    <add key="Aws.accessKey" value="AWS-ACCESSKEY"/>
    <add key="Aws.secretKey" value="AWS-SECRETKEY"/>
    <add key="Aws.bucketName" value="S3-BUCKETNAME"/>
  </appSettings>
    
</configuration>